development:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
    billing_bucket: billing_bucket_name
  daemon:
    app_name: pantry_import_aws_bill_command
    backtrace: false
    dir_mode: normal
    dir: /tmp/
    monitor: false
    job_interval: 3600
  pantry:
    api_key: api_key
    request_timeout: 10
    url: http://localhost:3000
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
test:
  aws:
    access_key_id: some_aws_iam_access_key_id
    secret_access_key: some_aws_iam_secret_access_key
    region: eu-west-1
    billing_bucket: billing_bucket_name
  daemon:
    app_name: pantry_import_aws_bill_command
    backtrace: false
    dir_mode: normal
    dir: /tmp/
    monitor: false
    job_interval: 3600
  pantry:
    api_key: api_key
    request_timeout: 10
    url: http://pantry.example.com:3000
  sns:
    topic_arn: daemon_specific_topic_arn
    error_arn: daemon_specific_error_arn
